* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.page {
    background-color: rgb(250, 250, 250);
    color:#555555

}

.page__nav {
    /* height: 40px; */
    width: 900px;
    margin: auto;
    padding: 80px;
}

.menu {
    background-color: rgb(237, 244, 234);
}

.logo {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    /* background-color: #ffffff; */
}

.logo__image {
    height: 30px;
}

.logo__name {
    padding: 0 60px 0 10px;
}

.menu__list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.menu__item {
    float: left;
}

a:link {
    color: rgb(226, 43, 128);
}

a:visited {
    color: rgb(28, 70, 206);
}

a:hover {
    color: #c9a400;
}

a:active {
    color: rgb(238, 238, 13);
}

.menu__link {
    text-decoration: none;
    /* display: block; */
    padding: 0 18px;
}

.button--large {
    font-size: 18px;
    position: absolute;
    right: 100px;
    top: 400px;
    padding: 10px 30px;
}
button{
    margin: 10px 0;
    padding: 5px;
}




.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: cover;
    width: 100%;
}

.banner__image {
    background-color: slategrey;
    height: 500px;
    width: 100%;
    background-size: cover;
}

.banner__title {
    /* font-family: 'Barlow Condensed', sans-serif; */
    font-family: 'Anton', sans-serif;
    font-weight: 500;
    position: absolute;
}

.banner__title--creative {
    left: 40px;
    top: 80px;
    color: rgb(216, 4, 235);
}

.banner__title--success {
    font-size: 2.5rem;
    left: 160px;
    top: 100px;
    color: rgb(21, 255, 0);
}

.banner__title--development {
    font-size: 2rem;
    left: 240px;
    top: 240px;
    color: rgb(255, 255, 255);
}

.banner__title--idea {
    font-size: 6rem;
    left: 140px;
    top: 260px;
    color: #24eb9f;
}

.banner__title--technology {
    left: 80px;
    top: 60px;
    color: rgb(255, 255, 255);
}

.banner__title--art {
    font-size: 2.5rem;
    left: 160px;
    top: 220px;
    color: rgb(1, 255, 234);
}

.banner__title--innovation {
    font-size: 5rem;
    left: 110px;
    top: 130px;
    color: rgb(230, 230, 0);
}



.page__header {
    background: rgb(219, 225, 230);
}

.articles {
    margin: auto;
    width: 900px;
    padding: 80px;

}

.search {
    /* width: 10px; */
    padding-bottom: 0px;
    text-align: right;
}
.search__input{
    background-color: rgba(127, 255, 212, 0.426);
    padding: 10px;
    border: none;
    width: 200px;
    height: 30px;
    margin: 10px;
}

.article__title {
    padding: 40px 0 20px;
    font-family: 'Barlow Condensed', sans-serif;
}

.footer {
    display: flex;
    height: 50px;
    padding-left: 60px;
}

.article_subtitle {
    font-style: italic;
    font-size: 1.2rem;
    padding: 10px 0;
}